In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

# Fifa World Cup 2022 dataset

In [13]:
data= pd.read_csv('data/fifa_world_cup_matches.csv')

data.columns= [x.lower() for x in data.columns]
data= data[['team1','team1','number of goals team1','number of goals team2','date','hour','category']]

data['date']= (data['date']  + ' ' + data['hour'])
data= data.drop('hour', axis= 1)

data['date']= pd.to_datetime(data['date'], format='%d %b %Y %H : %M')

data.head()

,team1,team1,number of goals team1,number of goals team2,date,category
0,QATAR,QATAR,0,2,2022-11-20 17:00:00,Group A
1,ENGLAND,ENGLAND,6,2,2022-11-21 14:00:00,Group B
2,SENEGAL,SENEGAL,0,2,2022-11-21 17:00:00,Group A
3,UNITED STATES,UNITED STATES,1,1,2022-11-21 20:00:00,Group B
4,ARGENTINA,ARGENTINA,1,2,2022-11-22 11:00:00,Group C